.code-area {
    -fx-background-color: #222222;
    -fx-tab-size: 2;
}

.code-area * {
    -fx-text-fill: #f8f8f2;
    -fx-fill: #f8f8f2;
    -fx-font-family: 'monospace';
    -fx-font-size: 11pt;
    -fx-cursor: text;
}

.code-area-context-menu-item * {
    -fx-text-fill: #000000;
    -fx-fill: #000000;
    -fx-font-family: 'sans serif';
    -fx-font-size: 10pt;
    -fx-cursor: text;
}

.code-area .caret {
    -fx-stroke: #f8f8f2;
    -fx-stroke-width: 2;
}

.linenumber {
    -fx-background-color: #333333;
    -fx-text-fill: #f8f8f2;
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
    -fx-padding-left: 0.4em;
    -fx-padding-right: 0.4em;
}

.lineerror,
.lineerror * {
    -fx-text-fill: #ff0000;
    -fx-fill: #ff0000;
    -fx-font-weight: bold;
}

.lineerrorsymbol,
.lineerrorsymbol * {
    -fx-text-fill: #ff0000;
    -fx-fill: #ff0000;
    -fx-font-weight: bold;
}

.linesymbol,
.linesymbol * {
    -fx-fill: #00ff00;
    -fx-text-fill: #00ff00;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.default {
    -fx-text-fill: #f8f8f2;
}

.keywords {
    -fx-fill: #C678DD;
    -fx-font-weight: bold;
}

.italian_keywords {
    -fx-fill: #C678DD;
    -fx-font-weight: bold;
}

.booleans {
    -fx-fill: #FD6803;
    -fx-font-weight: bold;
}

.parentheses_open{
    -fx-fill: #FD6803;
    -fx-font-weight: bold;
}

.parentheses_close{
    -fx-fill: #FD6803;
    -fx-font-weight: bold;
}

.operators {
    -fx-fill: #D774B3;
    -fx-font-weight: bold;
}

.punctuations{
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}

.strings{
    -fx-fill: #98C379;
    -fx-font-style: italic;
}

.comments,
.multiline_comments {
    -fx-fill: #E5C07B;
    -fx-font-style: italic;
}
.numbers{
    -fx-fill: #E06C75;
    -fx-font-weight: bold;
}
.symbols{
    -fx-fill: #ED7E09;
    -fx-font-weight: bold;
}
.variables{
    -fx-fill: #BE5046;
}
.constants{
    -fx-fill: #56B6C2;
}
.classes{
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}
.modules{
    -fx-fill: #ffffff;
    -fx-font-weight: bold;
}
.methods{
    -fx-fill: #C678DD;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.highlight0{
    -fx-fill: #ffffff;
}
.highlight1{
    -fx-fill: #ffffff;
}
.highlight2{
    -fx-fill: #ffffff;
}
.highlight3{
    -fx-fill: #ffffff;
}
.highlight4{
    -fx-fill: #ffffff;
}
.highlight5{
    -fx-fill: #ffffff;
}
.highlight6{
    -fx-fill: #ffffff;
}
.highlight7{
    -fx-fill: #ffffff;
}
.highlight8{
    -fx-fill: #ffffff;
}
.highlight9{
    -fx-fill: #ffffff;
}
.space{
    -fx-fill: #ffffff;
}
